@{
    ViewBag.Title = "Index";
}

<h2>DropDownList 的基本操作</h2>
<div class="row">
    <div class="col-md-12">
        <h2>相關文章</h2>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2012/09/aspnet-mvc-3-dropdownlist.html" target="_blank">
                ASP.NET MVC 3 - DropDownList 的基本設定方式
            </a>
        </p>
        <p>
            <a href="http://kevintsengtw.blogspot.tw/2013/09/aspnet-mvc-dropdownlist-viewdata-or.html" target="_blank">
                當 ASP.NET MVC 的 DropDownList 遇到了 ViewData or ViewBag
            </a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Method - 1</h2>
        <p>
            使用 @("IEnumerable<selectlistitem>")
            <br />
            使用 Model
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method1")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 2</h2>
        <p>
            使用 @("IEnumerable<selectlistitem>")
            <br />
            使用 ViewBag
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method2")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 3</h2>
        <p>
            使用 @("IEnumerable<selectlistitem>")
            <br />
            顯示已選取的項目
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method3")" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Method - 4</h2>
        <p>
            使用 SelectList 類別
            <br />
            使用 Model
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method4")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 5</h2>
        <p>
            使用 SelectList 類別
            <br />
            使用 ViewBag
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method5")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 6</h2>
        <p>
            使用 SelectList 類別
            <br />
            顯示已選取的項目
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method6")" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Method - 7</h2>
        <p>
            DropDownList 與 ViewBag 同樣名稱
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method7")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 8</h2>
        <p>
            DropDownList 與 ViewBag 同樣名稱
            <br />
            顯示已選取的項目
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method8")" target="_blank">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Method - 9</h2>
        <p>
            DropDownList 與 ViewBag 同樣名稱
            <br />
            顯示已選取的項目, 並設定 LabelOption 與 HtmlAttributes
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Method9")" target="_blank">Learn more &raquo;</a></p>
    </div>
</div>
